/* Colors */
$font-light: #DDD;
$font-dark: #000;
$alkali-metals: #F2A922;
$alkali-earth-metals: #735C32;
$trans-metals: #B0A45F;
$poor-metals: #57B6BD;
$actinids: #70315C;
$lanthanids: #221D57;
$other-nonmetals: #F2E7A0;
$metalloids: #F087C8;
$halogens: #F0EAC9;
$noble-gases: #BF861B;
$unknown: #FFF;

* {
  box-sizing: border-box;
}

html {
  font: 16px 'Rubik', sans-serif;
}

body {
  width: 100vw;
  height: auto;
  background-color: #ddd;
}

header {
  text-align: center;
}

header h1 { 
  font-size: 3.5rem;
  margin: 1rem 0;
}

#legend-cont {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.element-type {
  border: 1px solid black;
  width: 11rem;
  height: 2rem;
  padding: .3rem;
  margin: .8rem;
  box-shadow: 0 0 0 .4rem #222;
  border-radius: .8rem;
  outline: .5rem solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  margin: 0 auto 3rem;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(9, 95px);
  grid-template-columns: repeat(18, 1fr);
  grid-template-areas:
    "H . . . . . . . . . . . . . . . . He"
    "Li Be . . . . . . . . . . B C N O F Ne"
    "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
    "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "Cs Ba La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu Hf"
    "Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn Fr Ra Ac Th"
    "Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr Rf Db Sg Bh Hs"
    "Mt Ds Rg Cn Nh Fl Mc Lv Ts Og Uue . . . . . . .";
}

.element {
  width: 75px;
  padding: 5px;
  margin: .2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// .element:hover {
//   animation: spin 1s cubic-bezier(0,1.56,.48,.09) forwards;
// }

#number {
  align-self: flex-start;
  font-size: .7rem;
  font-weight: 300;
}

#symbol {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .1rem;
}

#name {
  font-size: .7rem;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: .1rem;
}

#atomic-mass {
  font-size: .6rem;
}

/* Alkali */
#Li, #Na, #K, #Rb, #Cs, #Fr,
#alk-metals {
  background-color: $alkali-metals;
}

/* Earth Metals */
#Be, #Mg, #Ca, #Sr, #Ba, #Ra,
#alk-earth-metals {
  background-color: $alkali-earth-metals;
  color: $font-light;
}

/* Transition Metals */
#Sc, #Ti, #V, #Cr, #Mn, #Fe, #Co, #Ni, 
#Cu, #Zn, #Y, #Zr, #Nb, #Mo, #Tc, #Ru, 
#Rh, #Pd, #Ag, #Cd, #Hf, #Ta, #W, #Re, 
#Os, #Ir, #Pt, #Au, #Hg, #Rf, #Db, #Sg, 
#Bh, #Hs, #Mt, #Ds, #Rg, #Cn,
#trans-metals {
  background-color: $trans-metals;
  color: $font-dark;
}

/* Poor Metals */
#Al, #Ga, #In, #Sn, #Tl, #Pb, #Bi, #Fl, #Lv,
#poor-metals {
  background-color: $poor-metals;
}

/* Actinids */
#La, #Ce, #Pr, #Nd, #Pm, #Sm, #Eu, #Gd, 
#Tb, #Dy, #Ho, #Er, #Tm, #Yb, #Lu,
#actinids {
  background-color: $actinids;
  color: $font-light;
}

/* Lanthanids */
#Ac, #Th, #Pa, #U,#Np, #Pu, #Am, #Cm, 
#Bk, #Cf, #Es, #Fm, #Md, #No, #Lr,
#lanthanids {
  background-color: $lanthanids;
  color: $font-light;
}

/* Other Nonmetals */
#H, #C, #N, #O, #P, #S, #Se,
#other-non-metals {
  background-color: $other-nonmetals;
  color: $font-dark;
}

/* Metalloids */
#B, #Si, #Ge, #As, #Sb, #Te, #Po,
#metalloids {
  background-color: $metalloids;
}

/* Halogens */
#F, #Cl, #Br, #I, #At,
#halogens {
  background-color: $halogens;
}

/* Noble Gases */
#He, #Ne, #Ar, #Kr, #Xe, #Rn,
#noble-gases {
  background-color: $noble-gases;
}

#Nh, #Mc, #Ts, #Og, #Uue {
  background-color: $unknown;
}

/* Make this CSS using JavaScript then copy/paste here*/
#H { grid-area: H;}
#He { grid-area: He;}
#Li { grid-area: Li;}
#Be { grid-area: Be;}
#B { grid-area: B;}
#C { grid-area: C;}
#N { grid-area: N;}
#O { grid-area: O;}
#F { grid-area: F;}
#Ne { grid-area: Ne;}
#Na { grid-area: Na;}
#Mg { grid-area: Mg;}
#Al { grid-area: Al;}
#Si { grid-area: Si;}
#P { grid-area: P;}
#S { grid-area: S;}
#Cl { grid-area: Cl;}
#Ar { grid-area: Ar;}
#K { grid-area: K;}
#Ca { grid-area: Ca;}
#Sc { grid-area: Sc;}
#Ti { grid-area: Ti;}
#V { grid-area: V;}
#Cr { grid-area: Cr;}
#Mn { grid-area: Mn;}
#Fe { grid-area: Fe;}
#Co { grid-area: Co;}
#Ni { grid-area: Ni;}
#Cu { grid-area: Cu;}
#Zn { grid-area: Zn;}
#Ga { grid-area: Ga;}
#Ge { grid-area: Ge;}
#As { grid-area: As;}
#Se { grid-area: Se;}
#Br { grid-area: Br;}
#Kr { grid-area: Kr;}
#Rb { grid-area: Rb;}
#Sr { grid-area: Sr;}
#Y { grid-area: Y;}
#Zr { grid-area: Zr;}
#Nb { grid-area: Nb;}
#Mo { grid-area: Mo;}
#Tc { grid-area: Tc;}
#Ru { grid-area: Ru;}
#Rh { grid-area: Rh;}
#Pd { grid-area: Pd;}
#Ag { grid-area: Ag;}
#Cd { grid-area: Cd;}
#In { grid-area: In;}
#Sn { grid-area: Sn;}
#Sb { grid-area: Sb;}
#Te { grid-area: Te;}
#I { grid-area: I;}
#Xe { grid-area: Xe;}
#Cs { grid-area: Cs;}
#Ba { grid-area: Ba;}
#La { grid-area: La;}
#Ce { grid-area: Ce;}
#Pr { grid-area: Pr;}
#Nd { grid-area: Nd;}
#Pm { grid-area: Pm;}
#Sm { grid-area: Sm;}
#Eu { grid-area: Eu;}
#Gd { grid-area: Gd;}
#Tb { grid-area: Tb;}
#Dy { grid-area: Dy;}
#Ho { grid-area: Ho;}
#Er { grid-area: Er;}
#Tm { grid-area: Tm;}
#Yb { grid-area: Yb;}
#Lu { grid-area: Lu;}
#Hf { grid-area: Hf;}
#Ta { grid-area: Ta;}
#W { grid-area: W;}
#Re { grid-area: Re;}
#Os { grid-area: Os;}
#Ir { grid-area: Ir;}
#Pt { grid-area: Pt;}
#Au { grid-area: Au;}
#Hg { grid-area: Hg;}
#Tl { grid-area: Tl;}
#Pb { grid-area: Pb;}
#Bi { grid-area: Bi;}
#Po { grid-area: Po;}
#At { grid-area: At;}
#Rn { grid-area: Rn;}
#Fr { grid-area: Fr;}
#Ra { grid-area: Ra;}
#Ac { grid-area: Ac;}
#Th { grid-area: Th;}
#Pa { grid-area: Pa;}
#U { grid-area: U;}
#Np { grid-area: Np;}
#Pu { grid-area: Pu;}
#Am { grid-area: Am;}
#Cm { grid-area: Cm;}
#Bk { grid-area: Bk;}
#Cf { grid-area: Cf;}
#Es { grid-area: Es;}
#Fm { grid-area: Fm;}
#Md { grid-area: Md;}
#No { grid-area: No;}
#Lr { grid-area: Lr;}
#Rf { grid-area: Rf;}
#Db { grid-area: Db;}
#Sg { grid-area: Sg;}
#Bh { grid-area: Bh;}
#Hs { grid-area: Hs;}
#Mt { grid-area: Mt;}
#Ds { grid-area: Ds;}
#Rg { grid-area: Rg;}
#Cn { grid-area: Cn;}
#Nh { grid-area: Nh;}
#Fl { grid-area: Fl;}
#Mc { grid-area: Mc;}
#Lv { grid-area: Lv;}
#Ts { grid-area: Ts;}
#Og { grid-area: Og;}
#Uue { grid-area: Uue;}
